* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 20%, transparent 20%, transparent 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, transparent 73.33333%, transparent 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 60em) {
  body:before {
    background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -webkit-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
    background-image: linear-gradient(left, transparent 0, #eeeeee 0, #eeeeee 5.08475%, transparent 5.08475%, transparent 6.77966%, #eeeeee 6.77966%, #eeeeee 11.86441%, transparent 11.86441%, transparent 13.55932%, #eeeeee 13.55932%, #eeeeee 18.64407%, transparent 18.64407%, transparent 20.33898%, #eeeeee 20.33898%, #eeeeee 25.42373%, transparent 25.42373%, transparent 27.11864%, #eeeeee 27.11864%, #eeeeee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eeeeee 33.89831%, #eeeeee 38.98305%, transparent 38.98305%, transparent 40.67797%, #eeeeee 40.67797%, #eeeeee 45.76271%, transparent 45.76271%, transparent 47.45763%, #eeeeee 47.45763%, #eeeeee 52.54237%, transparent 52.54237%, transparent 54.23729%, #eeeeee 54.23729%, #eeeeee 59.32203%, transparent 59.32203%, transparent 61.01695%, #eeeeee 61.01695%, #eeeeee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eeeeee 67.79661%, #eeeeee 72.88136%, transparent 72.88136%, transparent 74.57627%, #eeeeee 74.57627%, #eeeeee 79.66102%, transparent 79.66102%, transparent 81.35593%, #eeeeee 81.35593%, #eeeeee 86.44068%, transparent 86.44068%, transparent 88.13559%, #eeeeee 88.13559%, #eeeeee 93.22034%, transparent 93.22034%, transparent 94.91525%, #eeeeee 94.91525%, #eeeeee 100.0%, transparent 100.0%);
  }
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  letter-spacing: 0.03em;
  color: #333333;
}

#page-top-border {
  display: block;
  height: 7px;
  background: #1a8fcc;
  border-bottom: 1px solid #011111;
}

a:link,
a:visited {
  color: #1a8fcc;
  text-decoration: none;
}

a:hover,
a:active {
  color: #191e25;
  text-decoration: underline;
}
#footer a:link,
#footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}
pre,
code,
tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

#header,
#footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: transparent;
}

#header-wrap {
  background: #11161c;
}

#header {
  position: relative;
  margin: 0 auto;
  width: 960px;
  background: #11161c url('../images/header-bg.jpg') no-repeat center top;
  z-index: 500;
}
#logo {
  float: left;
  min-height: 100px;
  margin-top: 15px;
  margin-bottom: -15px;
}
/* ------ Navigation ------ */
#navigation {
  position: relative;
  height: 43px;
}
.main-menu {
  list-style: none;
  position: absolute;
  margin: 0 auto;
  padding: 1px 10px 2px;
  width: 960px;
  height: 44px;
  background: transparent url('../images/main-menu-bg.png') no-repeat left top;
}
.main-menu li {
  position: relative;
  float: left;
  height: 41px;
  line-height: 41px;
  font: 11px/41px verdana;
  text-transform: uppercase;
  color: #fff;
  background: transparent url('../images/main-menu-li-bg.png') no-repeat left top;
  border: none;
}
.main-menu li a.has-submenu {
  padding-right: 29px;
  background-image: url('../images/dropdown-arrow.png');
}
.main-menu li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
}
.main-menu li:hover {
  background: transparent url('../images/main-menu-li-bg.png') repeat-x left bottom;
}
.main-menu li ul {
  display: none;
  position: absolute;
  top: 41px;
  left: 0px;
  width: 152px;
  background: #1781c5;
  border: 1px solid #044269;
}
.main-menu li ul li {
  position: relative;
  float: none;
  display: block;
  padding: 0;
  padding-left: 15px;
  height: 37px;
  line-height: 37px;
  font: 11px/37px verdana;
  border: none;
  background-repeat: no-repeat;
  background-position: right center;
  text-transform: none;
}
.main-menu li ul li a {
  background-position: -100% -100%; /* Gets rid of parents background image */
  padding: 0px;
}
.main-menu li ul li:hover {
  background-color: #2273b6;
  background-image: none;
}
.main-menu li ul li.sub-has-sub {
  background-image: url('../images/dropdown-right-arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
}
.main-menu li ul li ul {
  display: none;
  position: absolute;
  top: -1px;
  left: 152px;
  width: 152px;
  background: #1781c5;
  border: 1px solid #044269;
}
.main-menu li.current-menu-item {
  background-color: #2273b6;
}
.main-menu li.current-parent {
  background-color: #2273b6;
}

/*Container*/
#main {
  position: relative;
  margin: 0 auto;
  width: 960px;
  padding-top: 20px;
}

#page {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  background: #f8fafb url('../images/body-bg.png') repeat-x center top;
}

input[type="submit"] {
  display: block;
  margin: 0 5px;
  padding: 0 20px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  background: transparent url('../images/button-bg.png') no-repeat left top;
  border: 1px solid #003453;
  float: left;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover {
  color: #525a61;
  display: block;
  margin: 0 5px;
  padding: 0 20px;
  height: 34px;
  line-height: 34px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  background: transparent url('../images/button-bg.png') no-repeat left top;
  border: 1px solid #003453;
  float: left;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/*HIDE TITLE*/
#content .title {
  display: none;
}

/*SOCIAL LINK BLOCK*/
#social-links-block {
  float: right;
}
#social-links-block a {
  padding-right: 5px;
}
/*SEARCH BLOCK*/
#header-search-block {
  float: right;
}
#header-search-block #search-block-form input[type="submit"] {
  float: right;
}
#header-search-block #search-block-form input[type="text"] {
  margin: 0;
  padding: 5px 5px;
  width: 182px;
  line-height: 20px;
  color: #525a61;
  border: 1px solid #edeeee;
  border-right: none;
  background: #fff url('../images/search-input-bg.png') repeat-x left top;
  border-radius: 5px;
}

/*SIDEBAR*/
/* ------ Sidebar content ------ */

#sidebar-first,
#sidebar-second {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#sidebar-first h3.title,
#sidebar-second h3.title {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-top: 9px;
  height: 38px;
  line-height: 22px;
  background-image: url('../images/pre-header-graphic.png'), url('../images/sidebar-header-bg.png');
  background-position: left center;
  background-repeat: no-repeat, repeat-x;
  color: #191e25;
}

/*FOOTER*/
#footer-wrap {
  clear: both;
}
#big-footer {
  padding-top: 25px;
  padding-bottom: 40px;
  color: #767c84;
  font-size: 11px;
  border-top: 1px solid #2a333d;
  background: #11161c url('../images/big-footer-bg.jpg') no-repeat center top;
}
#footer-wrap ul.menu li {
  border-bottom: 1px dotted #3d444c;
}
#standard-footer {
  height: 68px;
  color: #fff;
  font-size: 11px;
  border-top: 1px solid #11161c;
  background: #1a8fcc url('../images/standard-footer-bg.png') repeat-x center top;
}
#standard-footer p {
  margin: 0;
  padding: 0;
}
#standard-footer p a {
  text-decoration: underline;
}
#standard-footer ul#footer-menu {
  float: right;
}
#standard-footer ul#footer-menu li {
  display: inline;
  margin-left: 10px;
}
#standard-footer ul#footer-menu .current-menu-item a {
  color: #a4d4eb;
  cursor: default;
}
#standard-footer ul#footer-menu li ul {
  display: none;
}
#standard-footer ul#footer-menu a,
#standard-footer p.copyright a {
  color: #fff;
}
#standard-footer ul#footer-menu a:hover,
#standard-footer p.copyright a:hover {
  color: #a4d4eb;
}
#standard-footer p.copyright {
  float: left;
}

#footer {
  margin: 0 auto;
  width: 960px;
  padding-top: 30px;
}

#standard-footer p.copyright {
  float: left;
}
#standard-footer p {
  margin: 0;
  padding: 0;
}

/* PAGE OVERRIDE CSS*/
.comments,
.postBox {
  margin-bottom: 10px;
  width: 80.4%;
}
.no-sidebars .comments,
.no-sidebars .postBox {
  width: 100%;
}

.postBoxTop {
  background: url("../images/bk_box_top.png") no-repeat;
  height: 5px;
  width: 100%;
}

.no-sidebars .postBoxTop {
  background: url("../images/bk_box_top.png") repeat-x;
}

.postBox .postBoxMid {
  background: url("../images/bk_box_mid.png") repeat-y;
  padding: 0 5px;
  width: 100%;
}
.no-sidebars .postBox .postBoxMid {
  background: url("../images/no_sidebars_box_mid.png") repeat-y;
}
.postBox .first {
  background: url("../images/bk_box_mid_inner.jpg") no-repeat;
}
.no-sidebars .postBox .first {
  background: url("../images/no_sidebars_box_mid_inner.jpg") no-repeat;
}
.postBox .postBoxMidInner {
  padding: 20px 40px;
  position: relative;
}

.postBox .postBoxMid .date {
  background: url("../images/bk_date.png") no-repeat;
  color: #c5ecfc;
  font-size: 11px;
  height: 89px;
  left: -34px;
  padding-top: 17px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 62px;
  line-height: 145%;
}

.postBox .postBoxMid .date span.day {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #157ec4;
}

.postBoxMid .category {
  color: #cccccc;
  font-size: 11px;
  font-weight: bold;
  line-height: 100%;
  padding: 0 0 20px 20px;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.postBox .postBoxMid .postCategory,
.postBox .postBoxMid .postTags {
  display: inline-block;
}
.postBox .postBoxMid .postTags {
  background: url("../images/ico_tag.png") no-repeat scroll 0 50% transparent;
  overflow: hidden;
  padding-left: 24px;
  width: 47%;
}

.postBox .postBoxMid .postCategory {
  background: url("../images/star.png") no-repeat scroll 0 50% transparent;
  overflow: hidden;
  padding-left: 24px;
  width: 50%;
}

.postBox  h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 100%;
  padding: 10px 0 12px;
}

.postBox .postBoxMid .postThumb {
  float: left;
  margin: 15px 25px 25px 0;
  overflow: hidden;
  width: 201px;
}

.postBox .postBoxMid .textPreview {
  float: left;
  margin-top: 15px;
  width: 100%;
}

.postBox .postBoxMid .postMeta {
  border-top: 1px solid #e2e2e2;
  clear: left;
  margin-top: 25px;
  margin-left: -14px;
  overflow: hidden;
  padding-top: 20px;
  width: 103%;
}

.postBox .postBoxMid .postMeta .more-link {
  background: url("../images/ico_readmore.png") no-repeat;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 0 3px 35px;
}

.postBox .postBoxMid .postMeta .metaRight {
  float: right;
}

.postBox .postBoxMid .postMeta .metaRight img {
  margin-left: 20px;
  vertical-align: middle;
}

.postBoxBottom {
  background: url("../images/bk_box_bottom.png") no-repeat;
  height: 5px;
  width: 614px;
}

.postBox .postBoxMid .postMetaSingle {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
  padding: 5px 0 15px;
  width: 87%;
}
article.odd,
article.even {
  background: url("../images/bk_box_mid.png") repeat-y;
  padding: 40px;
  width: 100%;
  margin-bottom: 20px;
}
		article.comment .submitted {
			  background: url("../images/ico_comments.png") no-repeat;
					display: block;
			  float: left;
					font-size: 14px;
			  font-weight: bold;
					padding: 3px 0px 20px 35px;
			  width: 100%;
		}
